
<h3>Add a New Skill</h3>
<form action="/skills" method="POST" autocomplete="off">
  Name of Skill: <input type="text" name="skill">
  <br>
  Years Done: <input type="text" name="years">
  <br>
  <button type="submit">Save Skill</button>
</form>


